/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Gruvbox */
@define-color light #cccccc;
@define-color dark #000000;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #000000;
@define-color workspacesfocused #008dc1;
@define-color network #b16286;
@define-color memory #8ec07c;
@define-color cpu #2e9842;
@define-color temp #b8bb26;
@define-color layout #689d6a;
@define-color battery #fabd2f;
@define-color date #88c0d0;
@define-color gray #666666;

/* Normal colors */
@define-color white #cccccc;
@define-color black #000000;
@define-color gray #666666;
@define-color red #d3869b;

/* Reset all styles */
* {
	border-radius: 0;
	/* margin: 1; */
	padding: 0;
   	font-family: "DejaVu Sans";
   	/* font-family: "Terminus"; */
    font-weight: bold;
	font-size: 9pt;
}

/* The whole bar */
#waybar {
	background: @dark;
	color: @light;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
/* #network, */
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
/* #battery { */
	/* animation-timing-function: linear; */
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
/* } */

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
/* #battery.critical { */
	/* color: @critical; */
/* } */

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
/* #battery.critical.discharging { */
	/* animation-name: blink-critical; */
	/* animation-duration: 2s; */
/* } */

/* Each warning */
/* #network.disconnected, */
#memory.warning,
#cpu.warning,
#temperature.warning,
/* #battery.warning { */
	/* color: @warning; */
/* } */

/* Each warning that should blink */
/* #battery.warning.discharging { */
	/* animation-name: blink-warning; */
	/* animation-duration: 3s; */
/* } */

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/* font-weight: bold; */
  box-shadow: none; /* Remove predefined box-shadow */
  transition: none; /* Disable predefined animations */
  text-shadow: none; /* Remove predefined text-shadow */

	padding-left: 4px;
	padding-right: 4px;
	color: @light;
	background: @black;
}

#workspaces button.active {
  border-bottom: 2px solid @white;
}

#workspaces button.empty {
	color: @gray;
}

#workspaces button.urgent {
  color: @dark;
  background: @red;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#custom-gpu {
   	background: @black;
	color: @white;
}

#custom-player {
   	background: @black;
	color: @white;
}

#keyboard-state label.capslock.locked {
    background: @red;
    color: @dark;
    padding-right: 23px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#custom-alsa,
#pulseaudio,
#sndio {
   	background: @black;
	color: @white;
}

/* #network { */
/* 	background: @network; */
/* 	color: @light; */
/* } */

#memory {
	background: @memory;
	color: @dark;
}

#cpu {
	background: @cpu;
	color: @light;
}

#temperature {
	background: @temp;
	color: @dark;
}

#language {
   	background: @black;
	color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
	background: @black;
	color: @white;
}

#tray {
	background: @dark;
}

#clock.date {
	color: @light;
}

#clock.time {
	color: @dark;
}

#pulseaudio.muted {
	/* No styles */
}
