/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
@keyframes blink-warning {
	70% {
		color: @white;
	}

	to {
		color: @white;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @white;
	}

	to {
		color: @white;
		background-color: @critical;
	}
}
*/


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Gruvbox */
@define-color warning #fabd2f;
@define-color critical #cc241d;

/* Normal colors */
@define-color white #cccccc;
@define-color black #000000;
@define-color gray #666666;
@define-color red #d3869b;

/* Reset all styles */
* {
	border-radius: 0;
	/* margin: 1; */
	padding: 0;
   	font-family: "DejaVu Sans";
    font-weight: bold;
	font-size: 10pt;
}

/* The whole bar */
#waybar {
	background: @black;
	color: @white;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
/* #network, */
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,

/* Each warning */
/* #network.disconnected, */

/* Each warning that should blink */
#battery.warning.discharging {
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @white;
}

#workspaces button {
  transition: none; /* Disable predefined animations */
	padding-left: 4px;
	padding-right: 4px;
	color: @gray;
	background: @black;
  border-top: 2px solid @gray;
}

#workspaces button.empty {
	color: @gray;
  border-top: none;
}

#workspaces button.active {
	color: @white;
}

#workspaces button.urgent {
  color: @black;
  background: @red;
  border-top: none;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#custom-gpu {
   	background: @black;
	color: @white;
}

#custom-player {
   	background: @black;
	color: @white;
}

#keyboard-state label.capslock.locked {
    background: @red;
    color: @black;
    padding-right: 23px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#custom-alsa,
#pulseaudio,
#sndio {
   	background: @black;
	color: @white;
}

/* #network { */
/* 	color: @white; */
/* } */

#memory {
	color: @black;
}

#cpu {
	color: @white;
}

#temperature {
	color: @black;
}

#language {
   	background: @black;
	color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
	color: @black;
}

#tray {
	background: @black;
}

#clock.date {
	color: @white;
}

#clock.time {
	color: @black;
}

#pulseaudio.muted {
	/* No styles */
}
